.serif {
    font-family: 'serif';
}
#input_essay {
    font-size: 17px;
}


#form_UnCond {
    margin: 0px;
}
#form_UnCond li {
    list-style: none;
}


#div_result {
    font-size: 40px;
    line-height: 150%;
    min-height: 20px;
    background-color: #dcdcdc85;
}

.tr_result:nth-child(odd) {
    background-color: #055bff14;
}

.div_essayChar
{
    /*! display: inline-block; */
    /*! vertical-align: text-bottom; */
    min-width: 10px;
    min-height: 20px;
    text-align: center;
    line-height: 100%;
    border: 1px solid white;
    background-color: white;
    /*! text-decoration: underline; */
    ruby-position: under;
}
.div_origChar_n_aboveText {
    display: inline-block;
}

.div_oneRelChar {
    font-size: 120%;
    display: inline-block;
}
.div_essayChar_unusual {
    border-color: pink;
    border-width: 2px;
    border-radius: 9px;
}
.UCcss_is_simp {
    background-color: #ffd47070;
}
.UCcss_is_trad {
    background-color: #8b9ed545;
}
.UCcss_is_simp_n_trad {
    background-color: #91ff9166;
}
.UCcss_is_jp {
    background-color: #ff8181;
}
.UCcss_is_Cc {
    background-color: #ff2b2b;
    min-width:30px;
}
.UCcss_is_Mn {
    background-color: #2181ff;
    min-width:15px;
}
.UCcss_blk_pua {
    min-width: 30px;
}
.UCcss_char_illegal {
    background-color: #666;
    min-width:30px;
}
.UCcss_is_comp {
    background-color: #d0006b;
}
.UCcss_is_rad {
    background-color: #6b39ea;
}
.UCcss_cjk_notedu_or_isext {
    border-left: 3px dashed #d38600;
    border-right: 3px dashed #d38600;
    border-top: 3px dashed #d38600;
}
            
.span_unusualWarn {
    font-size: 15px;
    color: #ff0808;
    font-weight: bold;
}

.div_origChar {
    min-width: 10px;
    ruby-position: under;
    border-bottom: 1px dashed grey;
}



        
.div_commentsAboveChar {
    font-family: 'sans';
    font-size: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom:3px;
    margin-top: 10px;
    color:grey
}
.div_aCommentAboveChar {
    line-height: 100%;
} 
.span_aCommentAboveChar {
    background-color: white;
}

.result_linenum {
    display: inline-block;
    font-size: 10px;
}
.span_blk{
    font-size: 8px;
    max-width: 34px;
    max-height: 26px;
    overflow: hidden; 
    display: inline-block;
    word-break: break-word;
    white-space: break-spaces;
    word-wrap: break-word;
} 
